h1{
color: lightseagreen;
background: wheat;
font-style: oblique;
font-variant: normal;
font-weight: normal;
font-stretch: normal;
font-size: 24px;
line-height: normal;
font-family: arial; 
}
Body{
color: black;
background: wheat;  
font-style: normal;
font-variant: normal;
font-weight: normal;
font-stretch: normal;
font-size: 16px;
line-height: normal;
font-family: arial;  
}
img{width:100%;
    height:100%;
    }