h1{
color: darkred;
background: wheat;
font-style: normal;
font-variant: inherit;
font-weight: normal;
font-stretch: normal;
font-size: 32px;
line-height: normal;
font-family: arial; 
}
Body{
color: black;
background: wheat;  
font-style: normal;
font-variant: normal;
font-weight: normal;
font-stretch: normal;
font-size: 16px;
line-height: normal;
font-family: arial; 
background-size: auto auto;
background-repeat: repeat;
background-origin: padding-box;
background-clip: border-box;
background-attachment: scroll;
background-color: wheat;
}
img{width:50%;
    height:50%;
    margin: 40px 40px 40px 40px 
    }