h1{
color: lightseagreen;
background: wheat;
font-style: oblique;
font-variant: normal;
font-weight: normal
font-stretch: normal
font-size: large
line-height: normal
font-family: sans-serif 
}
Body{
background: wheat;    
}